GameStore/GameStore.WPF/Service References/LoginService/LoginService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GameStore.REST.JSONs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GameStore.REST.JSONs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LoginJson">
    <xs:sequence>
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoginJson" nillable="true" type="tns:LoginJson" />
  <xs:complexType name="UserJson">
    <xs:sequence>
      <xs:element name="Hasło" nillable="true" type="xs:string" />
      <xs:element name="Id" type="xs:int" />
      <xs:element name="Imię" nillable="true" type="xs:string" />
      <xs:element name="Login" nillable="true" type="xs:string" />
      <xs:element name="Nazwisko" nillable="true" type="xs:string" />
      <xs:element name="Typ" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserJson" nillable="true" type="tns:UserJson" />
</xs:schema>